@import "./reset.scss";
@import "./fonts.scss";
@import "./variables.scss";

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $default-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

a {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
