@import "./fonts.scss";

$default-font: "SF Pro Display";

$color-dark-blue: #091336;
$color-dark-blue-1:#122945;

$color-blue-1: #002cfb;
$color-blue-2: #005ff8;
$color-blue-3: #0024cb;
$color-blue-4: #274bc8;

$color-yellow-1: #ffd500;
$color-yellow-2: #ffb800;

$color-red-1: #ea1a4f;

$color-green-1: #00a775;

$color-grey-1: #ffffff99;
$color-grey-2: #d8e4fb52;
$color-grey-3: #899cb1;
$color-grey-4: #DEE6F5;

$color-white: #ffffff;
